/* Customer Center */
.card-center {
    flex-direction: row !important;
}
.card-img{
    width: 35% !important;
}

.content-center {
    overflow:auto;
    height: 100%;
}

/* News */
.title-news{
    font-size: 2vh;
}
.border-table{
    border: 1px solid;
    padding: 3px;
    box-shadow: 1px 3px #888888;
}

/* Event */


/* Miscellaneous */
.col-vertical-align {
    vertical-align: middle !important;
}