
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.grid-container {
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
a {
  text-decoration: none;
}

main {
  grid-area: main;
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}
.menu {
  flex: 0 1rem;
  display: flex;
  align-items: center;
  background-color: #1C1C1C;
}
.customer-center{
  flex: 1 20rem;
  height: 100vh;
}

/* Menu */
.flex-column{
  color: white;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.nav-link { 
  color: white;
}
.nav-link:hover{
  color: black;
  background-color: white;
}

/* Customer Center */
.card-center {
  flex-direction: row !important;
}
.card-img{
  width: 35% !important;

}

.content-center {
  overflow:auto;
  height: 100%;
}